/* Lists */
/* line 56, ../sass/magento/_base.scss */
ul, ol {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

/* Misc */
/* line 986, ../sass/magento/_magento-pages.scss */
.links li {
  display: inline;
}
/* line 988, ../sass/magento/_magento-pages.scss */
.links li.first {
  padding-left: 0 !important;
}
/* line 989, ../sass/magento/_magento-pages.scss */
.links li.last {
  background: none !important;
  padding-right: 0 !important;
}

/*
* HEADER 
*/
/* line 133, ../sass/magento/_layout.scss */
#header-main {
  background-color: transparent;
}
/* line 135, ../sass/magento/_layout.scss */
#header-main .header-wrap {
  min-height: 106px;
}
/* line 137, ../sass/magento/_layout.scss */
#header-main .header-wrap .logo {
  display: block;
  line-height: 96px;
  float: left;
  float: left;
}

#header-main .header-wrap .logo img {
  max-height: 96px;
}

/* line 9, ../sass/magento/_rtl.scss */
.rtl #header-main .header-wrap .logo {
  float: right !important;
}

/* line 144, ../sass/magento/_layout.scss */
.header-wrap {
  padding: auto;
}

/**LOGO**/
/* line 147, ../sass/magento/_layout.scss */
.logo strong {
  position: absolute;
  top: -999em;
  left: -999em;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -999em;
  overflow: hidden;
}

/*
* TOPBAR 
*/
/* line 39, ../sass/magento/_layout.scss */
#topbar {
  /*background-color: whitesmoke;*/
  border-style: solid;
  border-width: 0 0 1px;
  border-color: #DCDCDC;
  line-height: 36px;
  color: #8c8c8c;
  z-index: 99;
}
/* line 21, ../sass/bootstrap_lib/_mixins.scss */
#topbar:before, #topbar:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 25, ../sass/bootstrap_lib/_mixins.scss */
#topbar:after {
  clear: both;
}
/* line 48, ../sass/magento/_layout.scss */
#topbar a {
  color: #8c8c8c;
}
/* line 50, ../sass/magento/_layout.scss */
#topbar a:hover {
  color: #F16439;
}
/* line 54, ../sass/magento/_layout.scss */
#topbar .links li {
  margin: 0 10px 0 15px;
  font-size: 12px;
}
/* line 59, ../sass/magento/_layout.scss */
#topbar span, #topbar a {
  margin: 0;
  text-align: right;
  font-size: 12px;
}
/* line 63, ../sass/magento/_layout.scss */
#topbar span a, #topbar a a {
  color: #F16439;
}
/* line 68, ../sass/magento/_layout.scss */
#topbar .language {
  padding-top: 13px;
  padding-left: 12px;
}
/* line 70, ../sass/magento/_layout.scss */
#topbar .language > div {
  padding-right: 12px;
}
/* line 72, ../sass/magento/_layout.scss */
#topbar .caret {
  background: url(../images/caret.png) center no-repeat transparent;
  border: none;
  width: 8px;
  height: 8px;
  margin-left: 4px;
  margin-top: -1px;
}
/* line 78, ../sass/magento/_layout.scss */
#topbar .form-search {
  position: relative;
  margin-top: 8px;
  margin-right: 6px;
}
/* line 79, ../sass/magento/_layout.scss */
#topbar .form-search label {
  display: none;
}
/* line 83, ../sass/magento/_layout.scss */
#topbar .form-search #search {
  border: 1px solid #e4e5e7;
  -webkit-border-radius: 0;
  border-radius: 0;
  height: 28px;
  width: 170px;
  padding-right: 20px;
  padding-left: 5px;
  color: #666;
  font-size: 12px;
}
/* line 93, ../sass/magento/_layout.scss */
#topbar .form-search .button {
  background: url(../images/btn-search.png) center no-repeat transparent;
  text-indent: 9999em;
  overflow: hidden;
  width: 20px;
  height: 28px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
}